<div class="container">
	<h3 class="section-title">
		<span data-th-text="${sectionTitle}"></span>
	</h3>
</div>

<article data-th-each="featuredTest : ${tests}" class="block highlighted">
	<div class="container">
		<div class="navlab-row featured-test">

			<div class="navlab-column">
				<a class="unstyled a-img img-darkened" data-th-href="${portal.pageUrl({'_path=' + featuredTest.test._path})}">
					<img data-th-alt="${featuredTest.test.displayName}" data-th-src="${portal.imageUrl({'_id=' + featuredTest.image._id, '_scale=block(500, 380)'})}" width="500" height="380" />
				</a>
			</div>

			<div class="navlab-column featured-test-content">

				<p data-th-text="${featuredTest.test.publishDateFormatted}" class="featured-content-meta"></p>

				<h4 class="delta featured-content-title">
					<a href="#" data-th-text="${featuredTest.test.displayName}" data-th-href="${portal.pageUrl({'_path=' + featuredTest.test._path})}"></a>
				</h4>

				<span data-th-remove="tag" data-th-utext="${featuredTest.badgeHtml}"></span>

				<p data-th-text="${featuredTest.test.data.introduction}"></p>

				<p>
					<a href="#" data-th-href="${portal.pageUrl({'_path=' + featuredTest.test._path})}">Les mer om testen</a>
				</p>

				<p data-th-if="${featuredTest.test.displayTest}">
					<a rel="external" class="btn js-start-test-button" target="_blank" href="#" data-th-href="${featuredTest.test.data.testUrl}">Start testen</a>
				</p>

			</div>

		</div>
	</div>
</article>