a {
	color: @color-link; 
	border-bottom: 1px solid @color-border; 
	text-decoration: none; 
}

a:hover {
	border-bottom-color: @color-link;
}

a:focus {
	border-bottom-color: @color-text;
	outline: 3px solid @color-focus;
}

.a-img {
	display: block;
}

a.unstyled {
	border-bottom-width: 0; 
}