@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700);
@import "vendor/normalize";
@import "_variables-navlabs";
@import "_fonts";
@import "_typography";
@import "_layout";
@import "_links";
@import "_buttons";
@import "_lists";
@import "_badges";
@import "_form";

// Parts
@import "parts/_header-banner";
@import "parts/_frontpage-tests";
@import "parts/_frontpage-articles";
@import "parts/_social-media-share";
@import "parts/_global-navigation";
@import "parts/_colophon";

// Kube CSS framework
@import "vendor/kube/mixins";
@import "vendor/kube/grid";
@import "vendor/kube/grid-responsive";
@import "vendor/kube/tables";


.simple-content {
	text-align: center;
	padding-top: 3em;
	padding-bottom: 3em;
}

.simple-title {
	.delta;
	font-weight: 600; 
}

.decorated {
	position: relative;
	padding-bottom: 1em;

	&:after {
		content: "";
		width: 1em;
		height: .05em;
		position: absolute;
		left: 50%; 
		bottom: 0;
		transform: translateX(-50%);
		background-color: @color-text; 
	}
}

.visually-hidden {
	position: absolute; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height: 1px; width: 1px; 
	margin: -1px; padding: 0; border: 0; 
}